{% extends "base.html" %}

{% block content %}
<h2 style="color: black;">Dashboard</h2>
<p style="color: black;">Welcome to your personalized MBA journey dashboard!</p>
<ul>
    <li><a href="https://youtube.com/playlist?list=PLG4bwc5fquzgfMh4YFDnv7fttM0RIKiUQ&si=AJHecEJNppof-_1w" style="color: black;">Study Resources</a></li>
    <li><a href="https://www.youtube.com/watch?v=wwoprjnA488" style="color: black;">Application Tracker</a></li>
    <li><a href="https://youtube.com/playlist?list=PLtMMdSqG5Rhx2vpD6RSbwAw3Qc6g_yeqT&si=6mqQdtcPyqEKBPym" style="color: black;">Profile Building</a></li>
</ul>
{% endblock %}
